.header--container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(70, 122, 235);
    color: white;

    h1 {
        font-weight: 100;
        margin: 0;
        padding: 5px 20px;
    }
}