@mixin dropdown-basic-style {
    min-width: 150px;
    padding: 5px 10px;
    border:solid 1px #333;
    border-radius: 5px;
}

.dropdown--container {
    position: relative;
    font-family: "Segoe UI";
    font-size: 14px;
    display: inline-block;
    .dropdown--container__label {
        @include dropdown-basic-style();
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        &.opened {
            border-radius: 5px 5px 0 0;
        }

        .dropdown--label__placeholder {
            color: #999;
        }
    }
    .dropdown--container__content {
        @include dropdown-basic-style();
        position: absolute;
        width: -webkit-fill-available;
        background-color: white;
        padding: 0;
        border-top: none;
        border-radius: 0 0 5px 5px;
        .dropdown--content__item {
            cursor: pointer;
            padding: 5px 10px;
            min-height: 20px;

            &:hover {
                background-color: #ddd;
            }

            &.selected {
                background-color: #999;
                color: white;
            }
        }
    }
}