$table_border_color: #aaa;

.table--container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;

    .table--container__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: solid 1px $table_border_color;
    
        .table--header__title {
            flex: 1;
            padding: 5px;
            font-weight: bold;
        }   
    }

    .table--container__content {
        display: flex;
        flex-direction: column;

        .table--content__header {
            display: none;
        }

        .table--content__row {
            flex: 1;
            border: solid 1px $table_border_color;
            border-top: none;

            &:nth-child(2n) {
                background-color: #eee;
            }

            .table--content__data {
                display: flex;
                .table--content__cell {
                    flex: 1;
                    padding: 5px;
                }
            }
        }
    }

    @media screen and (max-width: 640px) {
        .table--container__header {
            display: none;
        }
        .table--container__content {
            .table--content__row:first-child{
                border-top: solid 1px $table_border_color;
            }
            .table--content__row {
                display: flex;
                .table--content__header {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    font-weight: bold;
    
                    .table--header__title {
                        padding: 5px;
                    }
                }
                .table--content__data {
                    flex: 1;
                    flex-direction: column;
    
                    .table--content__cell {
                        padding: 5px;
                    }
                }
            }
        }
    }
}